/*Estilos de home*/


* {

    margin: 0%;
    padding: 0px;
    box-sizing: border-box;

}

body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

.padre {
    display: flex;
    flex-flow: column nowrap;
}

.margen-interno {
    padding: 10 50px;
    margin: 50px;
}

.header {

    background: url(../css/images/BBVA-innovacion-construccioÃÅn-sostenible-apertura.jpg);
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;

}

.menu {

    display: flex;
    background: gray;
    flex-flow: row nowrap;
    height: 80px;
    align-items: center;
    border-bottom: 1px solid rgba 255, 255, 255, .5;
    text-align: center;



}

.logo {
    flex: 1 1 auto;
    font-size: 40px;
}

.logo p a {
    color: rgb(17, 226, 45);
    font-size: 30px;
    float: none;
}

.logo a:hover {
    color: black;
}

.nav {
    flex: 5 1 auto;
}

.nav a {
    color: rgb(236, 226, 226);
    font-size: 11px;
    text-transform: uppercase;
    padding: 0 10px;
    letter-spacing: 2px;
    float: left;
}

nav ul li {
    display: inline;
}

.nav a:hover {
    color: black;
}

.social {

    flex: 1 1 auto;
    display: flex;
}

.social a {
    font-size: 18px;
    color: rgb(236, 226, 226);
    padding: 0 5px;
}

.social a:hover {
    color: black;
}

.texto-principal {
    /*background: crimson;*/
    height: 580px;
    display: flex;
    align-items: center;
}

/* .h1{
   font-family:Tahoma;
    font-size: 15px;
    color:rgb(236, 226, 226);
    text-align:center;
    font-weight: 300;
    line-height:1.6;
    }*/

.section {
    background: #fcf7f7;
    display: flex;
}

.articulos {
    background: #f7f4f4;
    flex: 2 1 auto;
    display: flex;
    flex-flow: row wrap;

}

.article {
    flex: 1 1 40%;
    color: rgb(235, 222, 222);
    font: size 13px;
    letter-spacing: 1px;
    margin: 10px 10px 0 0px;
    flex: 1 1 45%;
    background: #e4ddbbcc;
}

.article img {
    width: 100%;
}

.article a {
    color: #fff;
    font: size 10px;
    ;
    padding: 10px;
    background: #000;
    margin: 10 0;
    display: inline-block;
}

.article a:hover {
    background: rgb(71, 195, 195);

}


h3 {
    color: beige;
    font-size: 13;
    padding: 10px 0;
    margin-top: -80px;
}

h2 {
    font-size: 25px;
    text-transform: uppercase;
    padding: 0px 0 10px 0;
    color: beige;
}

p {
    color: #000;
    font-family: Arial Narrow;
}

.aside {
    border-top: azure;
    background: #f7f4f4;
    letter-spacing: 1px;
    margin: 10px 0px 0 0px;
    flex: 1 1 50%;
}

.aside img {
    width: 100%;
    object-fit: cover;

}

h4 {
    background: #000;
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
}

.publicidad {
    background: rgb(206, 223, 109);
}

h4 {
    background: #000;
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
}

h5 {
    font-size: 15px;
    text-transform: uppercase;
    padding: 0px 0 10px 0;
    color: beige;
}

h6 {
    font-size: 15px;
    text-transform: uppercase;
    padding-left: 0;
    color: aquamarine;
}

.publicidad {
    margin: auto;
    background: rgb(206, 223, 109);
}

footer {
    width: 100%;
    padding: 50px 0px;
    background-image: url(../Images/background-footer.svg);
    background-size: cover;

    /*background-color: #d0f0f8;
    -webkit-mask-image: url("../Images/background-footer.svg");
    mask-image: url("../Images/background-footer.svg");
    -webkit-mask-size: cover;
    mask-size: cover;*/
}

.container__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.box__footer {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box__footer .logo img {
    width: 180px;
}

.box__footer .terms {
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #7a7a7a;
    font-size: 18px;
}

.box__footer h2 {
    margin-bottom: 30px;
    color: #343434;
    font-weight: 700;
}

.box__footer a {
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 600;
}

.box__footer a:hover {
    opacity: 0.8;
}

.box__footer a .fab {
    font-size: 20px;
}

.box__copyright {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p {
    margin-top: 20px;
    color: #7a7a7a;
}

.box__copyright hr {
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}

@media all and (max-width: 800px) {
    .section {
        flex-direction: column;
    }

    .menu {
        flex-direction: column;
        height: auto;
    }
}

@media all and (max-width: 600px) {
    .articulos {
        flex-direction: column;
    }
}

@media all and (max-width: 400px) {
    .aside {
        flex-direction: column;
    }
}

/*termina estilos de HOME*/

/*A PARTIR DE AQUI COMIENZA ESTILOS DE LA PAGINA "NOSOTROS"*/

body#nosotros {
    background-color: #158847;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

.padre {
    display: flex;
    flex-flow: column nowrap;
}

.margen-interno {
    padding: 0 50px;
}


header#nosotros {
    background: url(../css/images/Blog-IP-Arquitectura-Peru.jpg);
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
}

.menu {

    display: flex;
    background: gray;
    flex-flow: row nowrap;
    height: 80px;
    align-items: center;
    border-bottom: 1px solid rgba 255, 255, 255, .5;
    text-align: center;
}

.logo {
    flex: 1 1 auto;
    font-size: 40px;
}

.logo p a {
    color: rgb(17, 226, 45);
    font-size: 30px;
    float: none;
}

.logo a:hover {
    color: black;
}

.nav {
    flex: 5 1 auto;
}

.nav a {
    color: rgb(236, 226, 226);
    font-size: 11px;
    text-transform: uppercase;
    padding: 0 10px;
    letter-spacing: 2px;
    float: left;
}

nav ul li {
    display: inline;
}

.nav a:hover {
    color: black;
}

.social {

    flex: 1 1 auto;
    display: flex;
}

.social a {
    font-size: 18px;
    color: rgb(236, 226, 226);
    padding: 0 5px;
}

.social a:hover {
    color: black;
}

.texto-principal {
    /*background: crimson;*/
    height: 300px;
    display: flex;
    align-items: center;
}

.h1 {
    font-family: Tahoma;
    font-size: 15px;
    color: rgb(236, 226, 226);
    text-align: center;
    font-weight: 300;
    line-height: 1.6;
}




footer {
    width: 100%;
    padding: 50px 0px;
    background-image: url(../Images/background-footer.svg);
    background-size: cover;

    /*background-color: #d0f0f8;
    -webkit-mask-image: url("../Images/background-footer.svg");
    mask-image: url("../Images/background-footer.svg");
    -webkit-mask-size: cover;
    mask-size: cover;*/
}

.container__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.box__footer {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box__footer .logo img {
    width: 180px;
}

.box__footer .terms {
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #7a7a7a;
    font-size: 18px;
}

.box__footer h2 {
    margin-bottom: 30px;
    color: #343434;
    font-weight: 700;
}

.box__footer a {
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 600;
}

.box__footer a:hover {
    opacity: 0.8;
}

.box__footer a .fab {
    font-size: 20px;
}

.box__copyright {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p {
    margin-top: 20px;
    color: #7a7a7a;
}

.box__copyright hr {
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}


@media all and (max-width: 800px) {
    .section {
        flex-direction: column;
    }

    .menu {
        flex-direction: column;
        height: auto;
    }


}

@media all and (max-width: 600px) {
    .articulos {
        flex-direction: column;
    }
}

@media all and (max-width: 400px) {
    .aside {
        flex-direction: column;
    }
}

/*aqui termina estilos de la pagina nosotros*/




/*A partir de aqui comienza estilos de la pagina proyectos*/


a {
    text-decoration: none;
}

.padre {
    display: flex;
    flex-flow: column nowrap;
}

.margen-interno {
    padding: 0 50px;
}


header#proyectos {
    background: url(../css/images/Blog-IP-Arquitectura-Peru.jpg);
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
}

.menu {

    display: flex;
    background: gray;
    flex-flow: row nowrap;
    height: 80px;
    align-items: center;
    border-bottom: 1px solid rgba 255, 255, 255, .5;
    text-align: center;
}

.logo {
    flex: 1 1 auto;
    font-size: 40px;
}

.logo p a {
    color: rgb(17, 226, 45);
    font-size: 30px;
    float: none;
}

.logo a:hover {
    color: black;
}

.nav {
    flex: 5 1 auto;
}

.nav a {
    color: rgb(236, 226, 226);
    font-size: 11px;
    text-transform: uppercase;
    padding: 0 10px;
    letter-spacing: 2px;
    float: left;
}

nav ul li {
    display: inline;
}

.nav a:hover {
    color: black;
}

.social {

    flex: 1 1 auto;
    display: flex;
}

.social a {
    font-size: 18px;
    color: rgb(236, 226, 226);
    padding: 0 5px;
}

.social a:hover {
    color: black;
}

/*h1 {
    text-align: center;
    font-size: 40px;
    font-family: Arial Narrow;
}*/

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.galeria{
    font-family: 'open sans';
}

.galeria h1{
    text-align: center;
    margin:20px 0 15px 0;
    font-weight: 300;
}

.linea{
    border-top: 5px solid #4d555a;
    margin-bottom: 40px;
}

.contenedor-imagenes{
    display:flex;
    width: 85%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius:3px;
}

.contenedor-imagenes .imagen{
    width: 32%;
    position: relative;
    height:250px;
    margin-bottom:5px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .75)
}
.imagen img{
    width: 100%;
    height:100%;
    object-fit: cover;
}

.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    background:rgba(0, 118, 192, 0.781) ;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: .5s ease;
}

.overlay h2{
    color: #fff;
    font-weight: 300;
    font-size:30px;
    position: absolute;
    top: 50%;
    left:50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.imagen:hover .overlay{
    height:100%;
    cursor: pointer;
}

@media screen and (max-width:1000px){
    .contenedor-imagenes{
        width: 95%;
    }
}

@media screen and (max-width:700px){
    .contenedor-imagenes{
        width: 90%;
    }
    .contenedor-imagenes .imagen{
        width: 48%;
    }
}

@media screen and (max-width:450px){
    h1{
        font-size:22px;
    }
    .contenedor-imagenes{
        width: 98%;
    }
    .contenedor-imagenes .imagen{
        width: 80%;
    }
}
footer {
    width: 100%;
    padding: 50px 0px;
    background-image: url(../Images/background-footer.svg);
    background-size: cover;

    /*background-color: #d0f0f8;
    -webkit-mask-image: url("../Images/background-footer.svg");
    mask-image: url("../Images/background-footer.svg");
    -webkit-mask-size: cover;
    mask-size: cover;*/
}

.container__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.box__footer {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box__footer .logo img {
    width: 180px;
}

.box__footer .terms {
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #7a7a7a;
    font-size: 18px;
}

.box__footer h2 {
    margin-bottom: 30px;
    color: #343434;
    font-weight: 700;
}

.box__footer a {
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 600;
}

.box__footer a:hover {
    opacity: 0.8;
}

.box__footer a .fab {
    font-size: 20px;
}

.box__copyright {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p {
    margin-top: 20px;
    color: #7a7a7a;
}

.box__copyright hr {
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}


@media all and (max-width: 800px) {
    .section {
        flex-direction: column;
    }

    .menu {
        flex-direction: column;
        height: auto;
    }


}

@media all and (max-width: 600px) {
    .articulos {
        flex-direction: column;
    }
}

@media all and (max-width: 400px) {
    .aside {
        flex-direction: column;
    }
}
/*Aqui termina estilos de la pagina proyectos*/