* {
    
    margin:0%;
    padding: 0px;
    box-sizing: border-box;

}

body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

.padre {
    display: flex;
    flex-flow: column nowrap;
}

.margen-interno {
    padding: 10 50px;
    margin: 50px;
}


.header {

    background: url(../css/images/BBVA-innovacion-construcción-sostenible-apertura.jpg);
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;

}

.menu {

    display: flex;
    background: gray;
    flex-flow: row nowrap;
    height: 80px;
    align-items: center;
    border-bottom: 1px solid rgba 255, 255, 255, .5;
    text-align:center;
    


}

.logo {
    flex: 1 1 auto;
    font-size: 40px;
    
    
     
    
   
}

.logo p a {
    color: rgb(17, 226, 45);
    font-size: 30px;
    float: none;
   

}

.logo a:hover {
    color: black;
}

.nav {
    flex: 5 1 auto;
}

.nav a {
    color: rgb(236, 226, 226);
    font-size: 11px;
    text-transform: uppercase;
    padding: 0 10px;
    letter-spacing: 2px;
    float:left;
    

    
}
nav ul li{
    display: inline;
   
}

.nav a:hover {
    color: black;
}

.social {

    flex: 1 1 auto;
    display: flex;
}

.social a {
    font-size: 18px;
    color: rgb(236, 226, 226);
    padding: 0 5px;
}

.social a:hover {
    color: black;
}

.texto-principal {
    /*background: crimson;*/
    height: 580px;
    display: flex;
    align-items: center;
}

/* .h1{
   font-family:Tahoma;
    font-size: 15px;
    color:rgb(236, 226, 226);
    text-align:center;
    font-weight: 300;
    text-align: center;
    line-height:1.6;
    }*/

.section {
    background: #fcf7f7;
    display: flex;
}

.articulos {
    background: #f7f4f4;
    flex: 2 1 auto;
    display: flex;
    flex-flow: row wrap;

}

.article {
    flex: 1 1 40%;
    color: rgb(235, 222, 222);
    font: size 13px;
    letter-spacing: 1px;
    margin: 10px 10px 0 0px;
    flex: 1 1 45%;
    background: #918a8acc;
}

.article img {
    width: 100%;
}
.article a{
    color:#fff;
    font: size 10px; ;
    padding: 10px;
    background: #000;
    margin:10 0;
    display: inline-block;
}
.article a:hover {
    background: darkslategrey;
   
}


h3 {
    color: beige;
    font-size: 13;
    padding: 10px 0;
    margin-top: -80px;
}

h2 {
    font-size: 25px;
    text-transform: uppercase;
    padding: 0px 0 10px 0;
    color: beige;
}



.navegacion {
    background: #74b1da;
    flex: 1 1 100%;
}

.aside {
    background: hotpink;
    flex:auto;
    
}

.aside img {
    width: 100%;
    }
 h4{
    background: #000;
    color:#fff;
    padding: 10px;
    text-transform: uppercase;
 }   
 h5 {
    font-size: 15px;
    text-transform: uppercase;
    padding: 0px 0 10px 0;
    color: beige;
}


.publicidad {
    background: rgb(206, 223, 109);
}

.footer {
    background-position: center;
    background-attachment: contain;
    background-size:100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    background: gray;
    display: flex;
    justify-content: center;
}

.pie {
    background: rgb(133, 133, 88);
    width: 100%;
}

.desplegable {
    font-size: 2em;
}

@media all and (max-width: 800px) {
    .section {
        flex-direction: column;
    }

    .menu {
        flex-direction: column;
        height: auto;
    }

    .aside {
        display: flex;
        justify-content: center;
    }

}

@media all and (max-width: 600px) {
    .articulos {
        flex-direction: column;
    }
}

@media all and (max-width: 400px) {
    .aside {
        flex-direction: column;
    }
}
.form-signin {
    max-width: 330px;
    padding: 15px;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .telef {
    background-color: rgb(204, 49, 49);
    width: 200px;
    height: 200px;
    margin: 20px;
}